<img src="images/intro-7.png" height=1000px width=1000px>

## _Python-Dictionaries.ipynb_
#### [Click me to learn more about Python Dictionaries](https://www.geeksforgeeks.org/python-dictionary/)

<img align="center" width="800" height="800"  src="images/datatypes1.png" >

- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).
- From Python version 3.7 onwards, dictionaries are ordered, however, are not indexed like Lists rather indexed on key values.
- The dictionaries are used when you have to store million of `key:value` pairs and want to search a value given the key efficiently.

<img align="center" width="900" height="900"  src="images/dict_main.png" >

## Learning agenda of this notebook
* **Motivation to use Dictionary**
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements of a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Sorting Dictionary values
8. Aliasing vs Shallow Copy vs Deep Copy

In [ ]:
# help(dict)

## Motivation to use Dictionary

Let's solve a problem to see benefits of dictionary.  
How you can get marks of a specific student by using both lists students and name.

In [ ]:
students = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen']

marks = [81, 52, 70, 74, 78]

In [ ]:
students, marks

In [ ]:
# students[3], marks[3]

In [ ]:
def get_marks(name):
    index = students.index(name)
    return marks[index]
get_marks('Ali Sadiq')

## 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

In [ ]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'Ehtisham':51, 
    'Ali':52, 
    'Dua':22,
}

In [ ]:
dict1['Dua']

In [ ]:
print(dict1)

In [ ]:
print(type(dict1))

print(id(dict1))

In [ ]:
# A dictionary with integer keys, and string values, showing a symbol table generated by compiler
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
dict2

In [ ]:
print(type(dict2))
print(id(dict2))

In [ ]:
# dictionary with mixed keys (immutable types only)
dict3 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict3)

In [ ]:
# creating dictionary using dict() method
dict4 = dict({1: 'hello', 2: 'bye'})
dict4

In [ ]:
# Creating an empty dictionary
dict5 = dict()
dict5

In [ ]:
# other way to create empty dictionary
dict6 = {}
dict6

In [ ]:
# A list of two object tuples can also be used to create dictionaries

# A list of two object tuples
# [('name', 'Ehtisham'), ('age',22), ('city', 'Okara')]


dict7 = dict([('name', 'Ehtisham'), ('age',22), ('city', 'Okara')])


dict7

## 2. Proof of concepts

### a. Dictionary allows Duplicate Values

In [ ]:
# Duplicate values are allowed
d1 = {
    'name1' : 'ali',
     'name2' : 'ali'
     }
d1

### b. Dictionary DOESNOT allows Duplicate Keys

In [ ]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = { 
     'name' : 'ali',
     'name' : 'ehtisham',
     'name' : 'AYESHA'
     }
d1

### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type (number, string, tuple)

In [ ]:
# Tuple being immutable can be used as a key
d1 = {
        'ali':'name', 
      (60, 78, 83): 'marks' 
     }
d1

In [ ]:
# List being mutable cannot be used as a key
d1 = {
      'ali':'name', 
    
      [60, 78, 83]:'marks' 
     }
d1

### d. Values inside Dictionaies can be of mutable/immutable data type

In [ ]:
# List being mutable can be used as a value
d1 = {
     'name':'Ali', 
      'marks':[60,78,83] 
     }
d1

In [ ]:
# Tuple being immutable can also be used as a value
d1 = {
    'name':'ali', 
      'marks': (60,78,83) 
     }
d1

### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [ ]:
dict3 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
dict3

### f. Dictionaries can be nested to arbitrary depth

In [ ]:
# Creating a Nested Dictionary
dict7 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
# print(dict7)
dict7

In [ ]:
# dict7['address']

### g. Dictionaries from Python 3.7 onward are ordered
- From Python 3.7 onwards, dictionaries are guranteed to be in insertion ordered. i.e., every time you access dictionary elements they will show up in same sequence. 
- However, like string, list, and tuple, the elements of a dictionary are not associated by an index
- Moreover, two dictionaries having same key-value pairs are two different objects

In [ ]:
d1 = {
    'Ehtisham':51, 
    'ali':52, 
    'dua':20
}
d1

In [ ]:
d2 = {
    'Ehtisham':51, 
    'ali':52, 
    'dua':20
}
d2

In [ ]:
d3 = {
    'Ehtisham':52, 
    'dua':20,
    'Ehtisham':51
}

print(id(d1), id(d2), id(d3))

## 3. Accessing Elements of a Dictionary

### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [ ]:
d1 = {
    'name':'Ehisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1['address']

In [ ]:
d1.get('marks')

In [ ]:
# d1["123"]
d1.get("123")

**To retrieve a value from a nested dictionary**

In [ ]:
d2 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 
                   'area' : 'Pak Villas Housing Society', 
                   'city' : 'Okara'},
         'phone': '03460000000'
        }
 
d2

In [ ]:
d2['address']

In [ ]:
d2['address']['city']

In [ ]:
d2.get('address')['city']

In [ ]:
d2.get('address').get('city')

### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [ ]:
help(dict.items)

In [ ]:
# Creating a Nested Dictionary
d1 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
 
d1

In [ ]:
l1 = d1.items()
l1

In [ ]:
# for key,value in l1:
#     if d1[key] == "ehtisham":
#         print(key)

### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}

In [ ]:
d1.keys()

### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}

In [ ]:
d1.values()

## 4. Adding/Modifying Elements of a Dictionary

### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
# Modify value corresponding to an existing key
d1['address'] = 'Township'
d1

In [ ]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
# Create a simple dictionary
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
# Modify value corresponding to an existing key
d1.update({'name':'Ehtisham Sadiq'})
d1

In [ ]:
# Adding a new key:value pair
d1.update({'key2':'value2'})
d1

**You can use the `dict.update()` method to merge two dictionaries**

In [ ]:
d1 = {
    'name':'Ehtisham Sadiq', 
    'age':22, 
}

d2 = {
    'address':'Pak Villas', 
    'marks':[60, 75, 80],
    'age':21
}

In [ ]:
d1.update(d2)
d1

## 5. Removing Elements from a Dictionary

### a. Removing Element using `[]` operator
- To delete a dictionary element use the `del d1[key]` 
- To delete an entire dictionary from memory use `del d1`

In [ ]:
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
del d1['age']
d1

In [ ]:
#this will delete the whole directory
del d1
print(d1)  # will generate an error now

### b. Removing Element using `d1.popitem()` Method
- The `d1.popitem()` removes and returns a (key,value) pair as a 2-tuple
- Pairs are returned in LIFO order, i.e., last inserted element is returned
- Raises KeyError if the dict is empty

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1.popitem()

In [ ]:
d1

In [ ]:
d1.popitem()

In [ ]:
d1

In [ ]:
d1.popitem()

In [ ]:
d1.popitem()

In [ ]:
d1.popitem()

### c. Removing Element using `d1.pop(key)` Method
- The `d1.pop(key)` returns the value only of the key passed as its required argument
- Moreover, the corresponding key-value pair is also removed from the dictionary
- If key is not found a KeyError is raised

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1.pop('name')

In [ ]:
d1

In [ ]:
d1.pop('nok?ey') #This will raise an error

### d. Removing Element using `d1.clear()` Method
- The `d1.clear()` removes all items from the dictionary and returns None

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1.clear()

In [ ]:
d1

In [ ]:
id(d1)

## 6. Dictionary, Tuple and List conversions

In [ ]:
# Create a simple dictionary for these operations
d1 = {
    'Name': 'Ehtisham', 
    'Sex': 'Male', 
    'Age': 22, 
    'Height': 5.7, 
    'Profession': 'ML Engineer'
}
d1

In [ ]:
# The items() method, returns an object of dict_items containing two value tuples
rv = d1.items()

In [ ]:
print(rv)
print("\n", type(rv))

In [ ]:
# You can convert dictionary key-value pairs into a tuple containing two valued tuples
t1 = tuple(d1.items())
print(t1)
print("\n", type(t1))

In [ ]:
d1.keys()

In [ ]:
#converting dictionary keys only into a tuple
t1 = tuple(d1.keys())
print(t1)
print("\n", type(t1))

In [ ]:
#converting dictionary values only into a list
mylist = list(d1.values())
print("\n", mylist)
print(type(mylist))

## 7. Sorting a Dictionary by Values
- We can use the built-in function `sorted(iterable)` to get a sorted copy of a dictionary (by value). 
- The `sorted(iterable)` returns a sorted version of the iterable, without making any change to the iterable. 
- It's syntax is quite similar to `list.sort()` method, however, the iterator to be sorted needs to be passed as a required parameteras shown below:
```
    sorted(iterable, key=None, reverse=False)
```
- By default the `reverse` argument is `False`, you override the default behavior by passing a `True` value to this argument to perform a descending sort
- A custom key function can also be supplied to customize the sort order.

**Consider the following dictionary having `names` as keys and `marks` as values**

In [ ]:
dict1 = {
        'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':76, 
        'Dua':73,
         'Khubaib':93, 
        }
dict1

In [ ]:
sorted(dict1, reverse=True)

In [ ]:
sorted(dict1)

**When you pass a dictionary object to the `sorted()` function, it will return the list of sorted dictionary keys**

In [ ]:
d2 = sorted(dict1)
d2

**You can pass the keys only to the `sorted()` function, to do the above task**

In [ ]:
dict1.keys()

In [ ]:
d2 = sorted(dict1.keys())
d2

**Similarly you can pass the values only to the `sorted()` function, and it will return the list of sorted values**

In [ ]:
dict1.values()

In [ ]:
d2 = sorted(dict1.values())
d2

**Let us do customized sorting with Python Dictionaries**

**Example 1: Suppose we have a dictionary containing student names along with their marks and we want to sort the dictionary by highest marks of the students first**

In [ ]:
dict1 = {'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':76, 
        'Dua':73,
         'Adeen':93, 
        }


ls = dict1.items()
ls

In [ ]:
for i in ls:
    print(type(i))
    print(i)
    print("\n")

In [ ]:
for i in ls:
    print(i[1])

In [ ]:
help(sorted)

In [ ]:
# dict1.items()
for m in dict1.items():
    print(m)

In [ ]:
# Function receives a key:value tuple (key, value) and returns the value
def func1(item):
    return item[1]

In [ ]:
mylist = sorted(dict1.items(), key = func1, reverse=True)

print(mylist)

Note the `sorted()` function returned a list object in which each element is a two valued tuple having (key,value) pairs. You can always typecast such lists to a dictionary object

In [ ]:
sorted_dict = dict(mylist)
print(sorted_dict)

In [ ]:
type(sorted_dict)

**Example 2: Suppose we have a JSON array containing name, age and grades of students. We want to sort it by the age of the students.**
- JSON stands for JavaScript Object Notation
- JSON is a text format for storing and transporting data
- A JSON string has comma separated `key:value` pairs

In [ ]:
# The following JSON array defines a student object with 3 properties: `name`, `age`, and `grade`
# It is actually a list containing dictionary objects each object containing three key:value pairs
students = [
         {"name": "Ehtisham", "age": 22, "grade": "B"},
         {"name": "Ali", "age": 20, "grade": "A"},
         {"name": "Ayesha", "age": 17, "grade": "C"},
         {"name": "Dua", "age": 7, "grade": "D"},
         {"name": "Adeen", "age": 3, "grade": "A"},
         {"name": "Khubaib", "age": 5, "grade": "B"}
        ]
students

In [ ]:
# sorted(students)

In [ ]:
for i in students:
    print(i)
    print(i.get('age'))
    print(i.get('grade'))
    print("\n")

In [ ]:
# Function receives a dictionary object and returns the value corresponding to key age in that dictionary
def func2(item):
     return item.get('age') #return item['age']

In [ ]:
sorted_students = sorted(students, key = func2, reverse=True)

sorted_students

In [ ]:
# dict10 = dict(sorted_students)

Note the `sorted()` function returned a list object in which each element is a dictionary object having three key:value pairs

## 8. Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

### a. Aliasing: Making an Alias of a List object using simple Assignment `=` Operator
- In Python, we use `=` operator to create a copy/alias of an object. 
- Remember it doesnot create a new object, rather creates a new variable that shares the reference of the original object.

In [ ]:
dict1 = {'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':76, 
        'Dua':73,
         'Adeen':93, 
        }
print(dict1)

In [ ]:
dict2 = dict1

# Both references point to same memory object, so have the same ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

In [ ]:
# If you modify an element of one object, the change will be visible in both
dict2["Khubaib"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

### b. Shallow Copy
- We have used the `copy.copy()` method of copy module to create a shallow copy of List objects in our previous session
- To create a shallow copy of a list or dictionary, we can also use `copy()` method of List and Dictionary objects.

In [ ]:
import copy
dict1 = {'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':76, 
        'Dua':73,
         'Adeen':93, 
        }
print(dict1)

In [ ]:
#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

In [ ]:
# If you modify an element of one object, the change will NOT be visible in other
dict2["Khubaib"] = 100

print('\ndict1:', dict1)
print('dict2:', dict2)

**This seems woking fine, then why this is called shallow copy**

**Limitation of Shallow Copy**
- The word Shallow copy comes in picture when there is some object in dictionary like list or user define objects instead of primitive datatypes.
- The limitation of shallow copy is that it does not create a copy of nested objects, instead it just copies the reference of nested objects. This means, a copy process does not recurse or create copies of nested objects itself.
- Let us understand this by an example

In [ ]:
import copy
dict1 = {'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':[55, 66, 77],  #note we have a list of marks as a dictionary value
        'Dua':73,
         'Adeen':93, 
        }
print(dict1)

In [ ]:
#dict2 = copy.copy(dict1)
dict2 = dict1.copy()


# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

In [ ]:
# If you modify a nested element of one object, the change will be visible in both
# This is the limitation of shallow copy

dict2["Ali"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

- **Marks of student 'Ali' has been changed in both :(**
- **So in case of a dictionary having primitive datatypes, the shallow copy works fine. However, when we have nested objects inside the dictionary the shallow copy does not work**
- **Lets solve this using deep copy**

### c. Deep Copy: Making a Copy of an Object using `copy.deepcopy()` Method
- Deep copy creates a new object and recursively creates independent copy of original object and all its nested objects.

In [ ]:
import copy

dict1 = {'Ehtisham': 81, 
         'Ayesha':90, 
        'Ali':[55, 66, 77],  #note we have a list of marks as a dictionary value
        'Dua':73,
         'Adeen':93, 
        }
print(dict1)

In [ ]:
 
dict2 = copy.deepcopy(dict1)

# Both variables point to different memory objects, so have the different ID
print('ID of dict1:', id(dict1))
print('ID of dict2:', id(dict2))

In [ ]:
# If you modify a nested element of one object, the change will be visible in other
dict2["Ali"][1] = 0

print('\ndict1:', dict1)
print('\ndict2:', dict2)

![](images/dict_operations.jpg)

# Visualize Python Code: https://pythontutor.com/

# Bonus Portion

### Dictionary is used to create DataFrame.

In [ ]:
import pandas as pd
# Dictionary with list object in values    
studentData = {
        'name' : ['Ehtisham', 'Ahmed', 'Ali'],
        'age' : [22, 22, 20],
        'city' : ['Okara', 'Sargodha', 'Lahore']
    }

In [ ]:
print('Creating Dataframe from Dictionary')
    
#  Pass dictionary in Dataframe constructor to create a new object
#  keys will be the column names and lists in values will be column data
# pd.DataFrame()
dfObj = pd.DataFrame(studentData)

In [ ]:
dfObj

In [ ]:
# Print data frame object on console
dfObj.to_csv('datasets/Data.csv', index=False)

In [ ]:
# !cat datasets/Data.csv

In [ ]:
#    Create dataframe from nested dictionary
studentData = { 
    0 : {
        'name' : 'Ehtisham',
        'age' : 22,
        'city' : 'Okara'},
    1 : {
        'name' : 'Ahmed',
        'age' : 22,
        'city' : 'Sargodha'},
    2 : {
        'name' : 'Ali',
        'age' : 20,
        'city' : 'Lahore'}
    }
    
dfObj = pd.DataFrame(studentData) 
# Print Dataframe object on console
dfObj

In [ ]:
print("Transpose the dictionary")
    
# Transpose dataframe object
dfObj = dfObj.transpose()
dfObj

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:


1. What is a dictionary in Python?
2. How do you create a dictionary?
3. What are keys and values?
4. How do you access the value associated with a specific key in a dictionary?
5. What happens if you try to access the value for a key that doesn't exist in a dictionary?
6. Can a dictionary have two keys with the same value? Two values with the same key?
7. Define a dictionary that maps month name abbreviations to month names.
8. Define a dictionary with five entries that maps student identification numbers to 
their full names.
9. What is the `.get` method of a dictionary used for?
10. How do you change the value associated with a key in a dictionary?
11. How do you add or remove a key-value pair in a dictionary?
12. How do you access the keys, values, and key-value pairs within a dictionary?
13. Describe/Differentiate the concept of aliasing, shallow copy and deep copy using assignment statement, `dict.copy()`, `copy.copy()` and `copy.deepcopy()` methods
14. Practice sorting dictionaries having different types of `key:value` combinations
15. Create and initialize a dictionary that maps the English words `one` through `five` to the numbers 1 through 5.
16. Which part of a dictionary element must be immutable?
17. What is the difference between the dictionary methods pop and popitem?
18.  What does the items method return?
19.  What does the keys method return?
20.  What does the values method return?

In [ ]:
print(dir(dict))