<img src="images/lecture-3-4.png" height=1000px width=1000px>

# Learning Agenda of this Notebook

- Comments in Python
- Data Types and Operators in Python
- String Data Structure

<h1 align="center" style = "color:red">Comments in Python </h1>


<img src="images/comment-1.png" height=400px width=400px align="left">
<img src="images/comment-2.png" height=400px width=400px align="right">

In [ ]:
# a is integer type variable
a = 23
print(type(a))

In [ ]:
"""
This is example of multi-line comment
"""

'''
This is another example of multi-line comment
'''

# This is a single line comment
print(a)

<h1 align="center" style = "color:red">Python Data Types</h1>


<img src="images/7.jpeg" height=500px width=500px>

- Variables can hold values, and every value has a data-type. Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.
- The variable `a` holds integer value `five` and we did not define its type. Python interpreter will automatically interpret variables `a` as an integer type.

In [ ]:
x = 5
a = 10  
b = "Hi Python"  
c = 10.5

In [ ]:
print(type(a))  
print(type(b))  
print(type(c))  
print(type(x))

- A variable can hold different types of values. **For example**, a person's name must be stored as a string whereas its id must be stored as an integer.
- Python provides various standard data types that define the storage method on each of them.

#### Numbers:
Number stores numeric values. The `integer`, `float`, and `complex` values belong to a Python `Numbers` data-type. Python provides the `type()` function to know the data-type of the variable.


<img src="images/numbers-in-python--image.webp" height=500px width=500px>




Python supports three types of numeric data.

1. **Int** - Integer value can be any length such as integers 10, 2, 29, -20, -150 etc. Python has no restriction on the length of an integer. Its value belongs to int
2. **Float** - Float is used to store floating-point numbers like 1.9, 9.902, 15.2, etc. It is accurate upto 15 decimal points.
3. **complex** - A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts, respectively. The complex numbers like 2.14j, 2.0 + 2.3j, etc.
4. **Boolean:** Also known as bool data type allows us to choose between two values: True and False. Booleans have the type bool. A Boolean is used to determine whether the logic of an expression or a comparison is correct. It plays a huge role in data comparisons.

In [ ]:
a = 5  
print("The type of a", type(a))  
  
b = 40.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))

In [ ]:
5 < 2 # `<` is a less than operator

In [ ]:
print(5 < 2)

In [ ]:
result = 5 < 2 
type(result)

In [ ]:
w = 10
x = 20.5
y = complex(3, 2)  
y = 3 + 2j
z = True

In [ ]:
print(type(w))
print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Example of Boolean data type 
y = 10 < 100
print(y)
print(type(y))

In [ ]:
a = True
print(a)
b = False
print(b)

In [ ]:
# In Python, True represents the value as 1 and False as 0. 
print(bool(1))
print(bool(0))

print(bool(True))
print(bool(False))

###  Conversion/Type Casting


<br>
<br>
<br>


<img src="images/type-casting.png" height=400px width=400px align=right>
<img src="images/type_casting.jpg" height=350px width=350px align=left>


<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

- **Implicit Type Conversion:** While performing arithmetic operations, integers are automatically converted to `float` if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

- **Explicit Type Conversion or Type Casting** refers to the conversion of an object from one data type to another

In [ ]:
age = 21
marks = 74.2
c = age + marks
print(c)

In [ ]:
print(type(c))

In [ ]:
number1 = 63
number2 = 8
print(number1/number2)
print(number1//number2)

In [ ]:
age = 21
name = "Ehtisham"
age + name

In [ ]:
str(age)

In [ ]:
str(age)+name

### a. Implicit Type Conversion

In [ ]:
a = 2 + 3
b = 2 + 3.0
type(a), type(b)

In [ ]:
a = 3 * 5
b = 3 * 5.0
type(a), type(b)

In [ ]:
a = 4/2
b = 4/2.0
print(type(a), type(b))

In [ ]:
print(a,b)

### b. Explicit Type Conversion (Type Casting)


<img src="images/Tye-Conversion-and-Type-Casting-in-Python.jpg" height=450px width=450px>

####  Convert to Integer using ` int (a)`  function

**int() Function:**    
- The `int()` method is used to convert a string to an integer in Python. This can be useful if you need to store a value as an integer or perform mathematical operations on a value stored as a string.

In [ ]:
a = "32"
b = 45

In [ ]:
print(type(a), type(b))

In [ ]:
a+b

In [ ]:
type(a),type(int(a))

In [ ]:
c = int(a) + b

In [ ]:
print(c)

In [ ]:
# convert float into integer using `int()` 
num1 = 3.5
type(num1)

In [ ]:
type(int(num1))

**float() Function:**
- The `float()` method is a built-in Python function that is used to convert an integer or a string to a floating-point value.

In [ ]:
a = 5
b = 8
c = a + b
print(c)

In [ ]:
print(float(c))

**str() Function:**
- The `str()` function converts the specified value into a string.

In [ ]:
x = 21
print(type(x), x)

In [ ]:
y = str(x)
type(y), y

In [ ]:
z = bool(-5)
type(z), z

In [ ]:
# Convert to Float  using  `float (a)` function

a = 54
type(a), a

In [ ]:
b = float(a)
type(b), b

In [ ]:
# Note that a and be are two different objects
id(a), id(b)

In [ ]:
num = 341
type(num), num

In [ ]:
mystr = str(num)
type(mystr), mystr

In [ ]:
# Convert two Floats to Complex Data type  using  `complex (a, b)`  function

a = 2.6
b = 3.2
x = complex(a,b)
type(x), x

**Note:**
- Is it possible to convert `str1 ="abc123"` into integer variable/value?

In [ ]:
str1 = "123"

In [ ]:
int(str1)

### Working of `input()` Function

**write a program to swap two numbers**

In [ ]:
name = input("Enter your name: ")

In [ ]:
type(name)

In [ ]:
age = input("Enter your age : ")

In [ ]:
type(age)

In [ ]:
number1 = int(input("Enter First Number : "))

number2 = int(input("Enter second number : "))

In [ ]:
print("Before swapping numbers are : ", number1 , number2)

In [ ]:
# code to swap two numbers
number1, number2 = number2, number1

In [ ]:
print('After swapping numbers are : ', number1, number2)

### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What is a variable in Python?
2. How do you create a variable?
3. How do you check the value within a variable?
4. How do you create multiple variables in a single statement?
5. How do you create multiple variables with the same value?
6. How do you change the value of a variable?
7. How do you reassign a variable by modifying the previous value?
8. What are the rules for naming a variable?
9. Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
10. How do you check the data type of a variable?
11. What are the built-in data types in Python?
12. What kind of data does the Integer data type represent?
13. What are the numerical limits of the integer data type?
14. What kind of data does the float data type represent?
15. How does Python decide if a given number is a float or an integer?
16. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?
17. What are the differences between integers and floats?
18. How do you convert an integer to a float?
19. How do you convert a float to an integer?
20. What is the result obtained when you convert 1.99 to an integer?
21. What are the data types of the results of the division operators `/` and `//`?
22. What kind of data does the Boolean data type represent?
23. Which types of Python operators return booleans as a result?
24. What happens if you try to use a boolean in arithmetic operation?
25. How can any value in Python be covered to a boolean?

<h1 align="center" style = "color:red">Operators in Python </h1>


<br>
<br>
<br>

<img src="images/operator.png" height=300px width=300px align="left">
<img align="center" width="400px" height="250px"  src="images/operators.png" align= "right">

The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

### i. Arithmetic operators in Python
- Arithmetic operators are used to perform arithmetic operations between two operands.
- Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |

In [ ]:
# Here x and y are operands
x = 10
y = 3

# Output: x + y 
print('x + y =',x+y)

# Output: x - y 
print('x - y =',x-y)

# Output: x * y 
print('x * y =',x*y)

# Output: x / y 
print('x / y =',x/y)

# Floor Division: Output: x // y 
print('x // y =',x//y)

# Output: x ^ y 
# Ouput of Exponent
print('x ** y =',x**y)
# x = 10 , y =3 , 1000

# Output: x % y 
print('x % y =',x%y)

### ii.Assignment Operators
- The assignment operators are used to assign the value of the right expression to the left operand.
- Python supports the following Assignment operators:
- If a = 10, b = 20

| Operator | Description | Representation | Example | Result |
|----------|-------------|----------------|---------|--------|
| =        | It assigns the value of the right expression to the left operand | = | a=b | 20 |
| +=       | It increases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a+ = b will be equal to a = a+ b | a+=b | 30 |
| -=       | It decreases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a- = b will be equal to a = a- b  | a-=b | -10 |
| *=       | It multiplies the value of the left operand by the value of the right operand and assigns the modified value back to then the left operand. | a*=b will be equal to a = a*b | a*=b | 200 |
| %=       | It divides the value of the left operand by the value of the right operand and assigns the reminder back to the left operand. | a%=b will be equala to a = a%b | a%=b | 1 |

In [ ]:
#Assignment operators in Python
x = 4


x += 5    # <->  x = x + 5
print(x)

#    x = x - 5
x -= 5      
print(x)

#    x = x * 5
x *= 5     
print(x)

#    x = x / 5
x /= 5  
print(x)

#    x = x % 5
#    x %= 5       

#    x = x // 5
#    x //= 5      

#    x = x ** 5
x **= 5      
print(x)

### iii. Comparison Operators
- Comparison operators are used to comparing the value of the two operands and returns Boolean true or false accordingly.

| Operator | Description |
|----------|-------------|
| ==       | If the value of two operands is equal, then the condition becomes true. |
| !=       | If the value of two operands is not equal, then the condition becomes true. |
| <=       | If the first operand is less than or equal to the second operand, then the condition becomes true. |
| >=       | If the first operand is greater than or equal to the second operand, then the condition becomes true. |
| >        | If the first operand is greater than the second operand, then the condition becomes true. |
| <        | If the first operand is less than the second operand, then the condition becomes true. |

In [ ]:
#Comparison operators in Python

x = 10
y = 12

# Output: x > y 
print('x > y is',x>y)

# Output: x < y 
print('x < y is',x<y)

# Output: x == y 
print('x == y is',x==y)

# Output: x != y 
print('x != y is',x!=y)

# Output: x >= y 
print('x >= y is',x>=y)

# Output: x <= y 
print('x <= y is',x<=y)

In [ ]:
a = (x <= y)
print(a)

### iv. Bitwise Operators
- The bitwise operators perform bit by bit operation on the values of the two operands.


| Operator | Description |
|----------|-------------|
| a&b      | If both the bits at the same place in two operands are 1, then 1 is copied to the result. Otherwise, 0 is copied. |
| a or b   | The resulting bit will be 0 if both the bits are zero; otherwise, the resulting bit will be 1. |

In [4]:
#Bitwise operators in Python
x = 10   # 00001010
y = 4    # 00000100


# Bitwise and
print('x & y is',x&y)

x & y is 0

In [5]:
# Bitwise or
print('x | y is',x|y)

x | y is 14

### v. Logical Operator
- The logical operators are used primarily in the expression evaluation to make a decision. 
- When Python is processing a logical expression such as `x >= 2 and (x/y) > 2` , it evaluates the expression from left to right.
- The logical operators `and`, `or` and `not` operate upon conditions and `True` & `False` values. The `and` and `or` operate on two conditions, whereas `not` operates on a single condition.

- The `and` operator returns `True` when both the conditions evaluate to `True`. Otherwise, it returns `False`.

| `a`     | `b`    | `a and b` |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `False`   |
|  `False`| `True` | `False`   |
|  `False`| `False`| `False`   |

- The `or` operator returns `True` if at least one of the conditions evaluates to `True`. It returns `False` only if both conditions are `False`.

| `a`     | `b`    | `a or b`  |
|---------|--------|-----------|
|  `True` | `True` | `True`    |
|  `True` | `False`| `True`    |
|  `False`| `True` | `True`    |
|  `False`| `False`| `False`   |

- The `not` operator returns `False` if a condition is `True` and `True` if the condition is `False`.

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

In [1]:
# A short circuit happens in 'and' operation, when the first condition evaluates to False
x = 3
y = 0
z = ((x>=6) and (x/y))
z

False

### vi. Identity Operators in Python
- Identity operators are used to compare the ID of objects (not their values)
- Returns True if both objects refer to same memory location
- The two identity operators in Python are `is` and `is not`.


| Operator | Description |
|----------|-------------|
| is       | It is evaluated to be true if the reference present at both sides point to the same object. |
| is not   | It is evaluated to be true if the reference present at both sides do not point to the same object. |

In [6]:
#Identity operators in Python
a = 5
b = 5.0
print(id(a))
print(id(b))




print(a is b)
print(a==b)

9793216
140016245662416
False
True

In [7]:
a = 'Hello'
b = 'Hello'

# Output: False
print(a is not b)

# Output: True
print(a is b)

False
True

### vi. Membership Operators
- Python membership operators are used to check the membership of value inside a Python data structure. If the value is present in the data structure, then the resulting value is true otherwise it returns false.


| Operator | Description |
|----------|-------------|
| in       | It is evaluated to be true if the first operand is found in the second operand (list, tuple, or dictionary). |
| not in   | It is evaluated to be true if the first operand is not found in the second operand (list, tuple, or dictionary). |

In [8]:
name = "Ehtisham Sadiq"

a = 'a'
b = 'b'

# check `a` in name
rv = a in name
print(rv)

# check `b` in name
rv = b in name
print(rv)

True
False

In [10]:
list1 = [2,3,4,5,6,6,7,8]
if 22 in list1:
    print("Exist")
else:
    print("Not Exist")

Not Exist

### viii. Operator Precedence in Python
- The precedence of the operators is essential to find out since it enables us to know which operator should be evaluated first.

<img align="center" width="450" height="580"  src="images/python-operator-precedence.jpg">

In [11]:
print(5 + 3 * 2)
print((5 + 3) * 2)

11
16

In [12]:
print(2 ** 3 ** 2)
print((2 ** 3) ** 2)

512
64

In [13]:
num1, num2, num3 = 2, 3, 4
print ((num1 + num2) * num3)

20

In [14]:
num1, num2, num3 = 2, 3, 4
print (num1 ** num2 + num3)

12

### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What the different arithmetic operations supported in Python?
2. How do you perform arithmetic operations using Python?
3. What is the difference between the `/` and the `//` operators?
4. What is the difference between the `*` and the `**` operators?
5. What do you mean by precedence of operators?
5. What is the order of precedence for arithmetic operators in Python?
6. How do you specify the order in which arithmetic operations are performed in an expression involving multiple operators?
7. How do you solve a multi-step arithmetic word problem using Python?
8. What are variables? Why are they useful?
9. How do you create a variable in Python?
10. What is the assignment operator in Python?
11. What are the rules for naming a variable in Python?
12. How do you view the value of a variable?
13. How do you store the result of an arithmetic expression in a variable?
14. What happens if you try to access a variable that has not been defined?
15. How do you display messages in Python?
16. What type of inputs can the print function accept?
17. What are code comments? How are they useful?
18. What are the different ways of creating comments in Python code?
19. What are the different comparison operations supported in Python?
20. What is the result of a comparison operation?
21. What is the difference between `=` and `==` in Python?
22. What are the logical operators supported in Python?
23. What is the difference between the `and` and `or` operators?
24. Can you use comparison and logical operators in the same expression?
25. What is the purpose of using parentheses in arithmetic or logical expressions?

<h2 align=center style="color:red;"> String Data Structure </h2>


- What is Data  Structure?
- String Data Structure
- Defining Strings in the Python
- Accessing characters  of  a  String (Indexing)
- Strings  are  immutable(Reassigning String)
- Strings  Slicing 
- String  Concatenation
- Create large Strings
- Operations on string Data structure
- Strings method
    - `lower()`, `upper()`, `strip()`, `startswith()`, `endswith()`, `split()`, `join()`, `find()`, `replace()`, `format()`, `len()`, `min()`, `max()`, `sorted()`, `title()/capitalize`, `swapcase()`, `count()`, `find()`, `index()`, `isalnum() / isalpha()`, `isdigit()`, 
- String  Deletion
- String Membership test

### What is Data Structure?

- Data structure is a particular way of storing and organizing data in a computer so that it can be used efficiently. A data structure is a special format for organizing and storing data .


<img src="images/data_structure.gif" height=400px width=400px>

### String Data Structure


- Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes. The computer does not understand the characters; internally, it stores manipulated character as the combination of the 0's and 1's.
- Each character is encoded in the ASCII or Unicode character. So we can say that Python strings are also called the collection of Unicode characters.
- In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

<img src="images/Ways-to-declare-a-string-In-Python-1024x576.png" height=500px width=500px align ='left'>
<img src="images/string-ds.gif" height=400px width=400px right="right">

In [15]:
str1 = "Ehtisham Sadiq 1262163 &&**(*@#$$%)"
print(type(str1))

<class 'str'>

In [16]:
str1 = "Ehtisham"
str2 = 'Ehtisham'
str3 = """Ehtisham"""
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [17]:
str4 = 'A'
str5 = "B"
str6 = """C"""
print(type(str4))
print(type(str5))
print(type(str6))

<class 'str'>
<class 'str'>
<class 'str'>

###  Defining/Creating of a string

- A string is a collection of character(s) closed within single or double quotation marks. (There is no `char` data type in Python as in C/C++)
- A string can also contain a single character or be entirely empty.
- To make a single quote part of a string, define the string using double quotes and vice versa. You can also make use of escape sequence
- Python also provides triple-quotes to represent the string, but it is generally used for multiline string or docstrings.

In [18]:
string1 = 'Hello'
print(string1)

string2 = "World"
print(string2)

string3 = ""
print(string3)

string4 = "A"
print(string4)

Hello
World

A

In [19]:
# triple quotes string can extend multiple lines

string5 = """Hello, This is
            multi-line string"""
print(string5)

string5 = '''Hello, This is
            multi-line string'''
print(string5)

Hello, This is
            multi-line string
Hello, This is
            multi-line string

In [20]:
str6 = "I'm student of software engineering!"
print(str6)
str7 = 'I"m student'
print(str7)
str8 = 'i"m a student'
print(str8)
str8 = """ To display the current time, we have used the getTime()
method of Calendar class. The getTime() is an instance method of Calendar class,
so we have called it after getting the instance of
Calendar class by the getInstance() method """
print(str8)

I'm student of software engineering!
I"m student
i"m a student
 To display the current time, we have used the getTime()
method of Calendar class. The getTime() is an instance method of Calendar class,
so we have called it after getting the instance of
Calendar class by the getInstance() method

In [21]:
# Be careful with quotes!
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (2198476966.py, line 2)

In [22]:
# Be careful with quotes!
"I'm using single quotes, but will create an error"

"I'm using single quotes, but will create an error"

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

### Accessing Characters of a String (Indexing)
Like other languages, the indexing of the Python strings starts from 0. Since string is of type sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this work for strings as well List.
For example, The string "HELLO" is indexed as given in the below figure.
![](images/2.png)


As shown in Python, the slice operator [] is used to access the individual characters of the string. However, we can use the : (colon) operator in Python to access the substring from the given string. Consider the following example.
### Syntax:    
**str[start:end-1]**

In [23]:
string = "HELLO"  
print(len(string))

5

In [24]:
print(string[0])  
print(string[1])  
print(string[2])  
print(string[3])  
print(string[4])

H
E
L
L
O

In [25]:
# It returns the IndexError because 6th index doesn't exist  
print(string[6])
# 1-4

IndexError: string index out of range

![](images/3.png)
Here, we must notice that the upper range given in the slice operator is always exclusive i.e., if str = 'HELLO' is given, then str[1:3] will always include str[1] = 'E', str[2] = 'L' and nothing else.

In [26]:
string2 = "Dua Sadiq"  
print(len(string2))

9

In [27]:
# Start Oth index to end  
print(string2[0:])  

# Starts 1th index to 4th index  
print(string2[1:5])  

# Starts 2nd index to 3rd index  
print(string2[2:4])  

# Starts 0th to 2nd index  
print(string2[:3])  

#Starts 4th to 6th index  
print(string2[4:7])

Dua Sadiq
ua S
a
Dua
Sad

We can do the negative slicing in the string; it starts from the rightmost character, which is indicated as -1. The second rightmost index indicates -2, and so on.
![](images/4.png)

In [30]:
string3 = 'Ali Sadiq'  
print(len(string3))
print(string3[-1])  
print(string3[-3])  
print(string3[-2:])  
print(string3[-4:-1])  
print(string3[-7:-2])  

# Reversing the given string  
print(string3[::-1])

9
q
d
iq
adi
i Sad
qidaS ilA

In [31]:
print(string3[-12])

IndexError: string index out of range

###  Strings are immutable/ Reassigning Strings
Updating the content of the strings is as easy as assigning it to a new string. The string object doesn't support item assignment i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

<img src="images/datatypes1.png" height=700px width=700px>

In [32]:
str1 = "Ayesha Sadiq"
str1[3] = "M"
print(str1)

TypeError: 'str' object does not support item assignment

In [33]:
#assigning a new value is valid
print(id(str1))
str1 = 'python'

print(id(str1))

140015947125936
140016315772784

The object `Ayesha Sadiq` is now orphan, since there is no variable referring to it now and will be collected by Python garbage collector.

###  String Slicing
- Slicing is the process of obtaining a portion (substring) of a string by using its indices.
- Given a string, we can use the following syntax to slice it and obtain a substring:
```
string[start:end]
```
- **start** is the index from where we want the substring to start. If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our substring to end (not inclusive in the substring). If end is not provided, slicing goes till the end of the string (includes the last character of the string).


<img src="images/Python-String.png" height=500px width=500px>

In [ ]:
# var[:] -> Full string return
# var[0:]-> Full string return
# var[:len(string)] -> Full string return 
# var[::-1] -> Full reverse string return

In [34]:
str1 = 'Introduction to data analyst and data science for beginners'
print(len(str1))

59

In [35]:
print(str1[0:4]) # From the start till before the 4th index

Intr

In [36]:
print(str1[:4]) # From the start till before the 4th index

Intr

In [37]:
print(str1[11:16])

n to

In [38]:
print(str1[19:]) # From the 19th index till the end
print(str1[5:-4])

a analyst and data science for beginners
duction to data analyst and data science for begin

In [39]:
#if start is greater than end, it will return empty string
print(str1[5:2])

print(str1[19:len(str1)]) # From the 19th index till the end

a analyst and data science for beginners

**Slicing with a Step**

- In the above example, weve used slicing to obtain a contiguous piece of a string, i.e., all the characters from the starting index to before the ending index are retrieved.
- However, we can define a step through which we can skip characters in the string. The default step is 1, so we iterate through the string one character at a time.
- The step is defined after the end index:
```
string[start:end:step]
```

In [2]:
str1 = 'Introductiontodatasciencewithusingpython'
print(len(str1))

40

In [4]:
print(str1[::])  # A default step of 1

Introductiontodatasciencewithusingpython

In [5]:
print(str1[::1])  # A step of 1

Introductiontodatasciencewithusingpython

In [6]:
print(str1[::-1])  # A step of

nohtypgnisuhtiwecneicsatadotnoitcudortnI

In [7]:
print(str1)
print(str1[::2])  # A step of 2

Introductiontodatasciencewithusingpython
Itoutotdtsineihsnpto

**Reverse Slicing**

- Strings can also be sliced to return a reversed substring. 
- For reverse slicing we need to give a negative step
- For reverse slicing the `start` index must be greater than the `end` index, otherwise an empty string will be returned

In [8]:
str1 = '0123456789'
print(str1[::-1])

9876543210

In [9]:
print(str1[5:1:-1])

5432

In [14]:
print(str1[2:10:-1])

In [12]:
print(str1[::-2])

97531

### String Concatenation
- Two strings can be joined or concatenated using the `+` operator

In [15]:
str1 = 'Hello'
str2 =' World!'
str3 = str1 + str2

In [19]:
print('str1 + str2 = ', str3)

str1 + str2 =  Hello World!

In [20]:
print("Y" + str3[1:])

Yello World!

### Creating large strings
- A string can be replicated/repeated using the `*` operator

In [21]:
str1 = 'Hello'
print('str1 * 5 =', str1 * 5)

str1 * 5 = HelloHelloHelloHelloHello

In [26]:
str2 = "Ehtisham"
print(str2*10)

EhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtishamEhtisham

In [23]:
buffer = 'A' * 100
print(buffer)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

###  Operations on String Data Structure 


|Operator|Description|
|--------|-----------|
|+|It is known as concatenation operator used to join the strings given either side of the operator. |
|*|It is known as repetition operator. It concatenates the multiple copies of the same string. |
|[]|It is known as slice operator. It is used to access the sub-strings of a particular string. |
|[:]|It is known as range slice operator. It is used to access the characters from the specified range. |
|in|It is known as membership operator. It returns if a particular sub-string is present in the specified string. |
|not in |It is also a membership operator and does the exact reverse of in. It returns true if a particular substring is not present in the specified string. |

### String Membership test using `in` operator

In [27]:
'a' in 'DataScience'

True

In [28]:
'thf' not in 'python'

True

In [29]:
'aa' in 'DataScience'

False

### String Deletion
As we know that strings are immutable. We cannot delete or remove the characters from the string.  But we can delete the entire string using the `del` keyword.

In [30]:
string5 = "Data"
print(string5)

Data

In [31]:
del string5

In [32]:
print(string5)

NameError: name 'string5' is not defined

###  Comparing two strings using `is` operator and `==` operator

In [33]:
x = 10
y = 10
print(id(x), id(y))

9793376 9793376

In [34]:
x == y

True

In [35]:
x is y

True

In [36]:
a = 21
b = 20
print(id(a))
print(id(b))

9793728
9793696

In [37]:
a == b

False

In [38]:
a is b

False

In [39]:
# Let us check out the IDs of the following two variables. Like numbers type of variable, 
# they are same as both a and b refers to the same memory location containing same string 'hello'
a = 'hello'
b = 'hello'
print(id(a), id(b))

140698320454960 140698320454960

In [41]:
# in case of strings, both a and b refers to the same memory location containing string 'hello'
a = 'hello'
b = 'hello'

# The `is` operator returns True if the memory addresses of two strings / variables are same
print (a is b) 
# The `==` operator checks the contents of two strings
print (a == b)

True
True

In [43]:
print(a is not b)
print (a != b)

False
False

In [44]:
# both x and y refers to two different memory locations containing string 'hello'
x = 'hello'
y = 'bye'

# The `is` operator checks the memory address of two strings 
print (x is y) 
# The `==` operator checks the contents of two strings
print (x == y) 


print(x is not y)
print (x != y)

False
False
True
True

###  String Methods

- Now the most important part of a string is string functions which you used everywhere whenever you built any project. Now we will study all-important string functions which are frequently used.
- These are functions that you get on all other iterator data types like list, tuple, set, and also available in string.

####  The `len()`, `str.lower()`, `str.upper()` and `str.capitalize()` methods
- The `len()` is a built-in function that returns the number of items of a container data type passed as argument. We can check the length of any data types that are collections with built-in `len()` function.
It is considered a built-in function.
- The `str.lower()` method return a copy of the string converted to lowercase.
- The `str.upper()` method return a copy of the string converted to uppercase.
- The `str.capitalize()` method return a capitalized version of the string.

In [47]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [49]:
str1 = "Hello World"

In [50]:
print(str1.upper())

HELLO WORLD

In [51]:
print(type(str1))

<class 'str'>

In [52]:
str1

'Hello World'

In [55]:
str1= "Hello World"

mylist = [1,2,3,4,5]


print(len(str1),len(mylist))

11 5

### Hints
- To know what all methods the object of string class support. Just type the name of the object, place a dot and then press <tab> to view the list of its attributes and methods it support. 
`str.<tab>`
- Similarly to get help about a method, after the method name press <shift+tab>, to get information about what the method do, what parameters it take, its return value
`str.lower<shift+tab>`

In [ ]:
string6 = "Data Science"
string6.

In [56]:
string7 = "introduction to Data science using python"
print('Orignial string = ', string7)

rv = len(string7)
print('len(string7) = ', rv)

Orignial string =  introduction to Data science using python
len(string7) =  41

In [57]:
rv1 = string7.lower()
print('string7.lower() = ', rv1)
      
print('string7.upper() = ', string7.upper())

string7.lower() =  introduction to data science using python
string7.upper() =  INTRODUCTION TO DATA SCIENCE USING PYTHON

In [58]:
string7

'introduction to Data science using python'

In [59]:
rv2 = string7.capitalize()

print('string7.capitalize() = ', rv2)
print('Orignial string = ', string7)
print("strinh7.title =", string7.title())

string7.capitalize() =  Introduction to data science using python
Orignial string =  introduction to Data science using python
strinh7.title = Introduction To Data Science Using Python

###  The `str.strip()` method
- The `str.strip()` method removes whitespace characters from the beginning and end of a string.
- The `str.lstrip()` method removes whitespace characters from the beginning of a string.
- The `str.rstrip()` method removes whitespace characters from the end of a string.

In [60]:
buffer ="    hello world, this is       Ehtisham Sadiq      "
rv = buffer.strip()
print(buffer)
print(rv)

    hello world, this is       Ehtisham Sadiq
hello world, this is       Ehtisham Sadiq

In [61]:
print(buffer)
print(buffer.lstrip())
print(buffer.rstrip())

    hello world, this is       Ehtisham Sadiq
hello world, this is       Ehtisham Sadiq
    hello world, this is       Ehtisham Sadiq

###  The `str.startswith()` method
The `str.startswith()` method return True if str starts with the specified prefix, False otherwise.
```
str.startswith(prefix[, start[, end]])
```

In [62]:
string8 = "Learning Practical Data Science with Ehtisham Sadiq"

rv3 = string8.startswith('Learning')
print(rv3)

True

In [63]:
rv4 = string8.startswith('Ali')
print(rv4)

False

In [64]:
rv5 = string8.startswith('Ehtisham', 21)
print(rv5)

False

In [65]:
# # case sensitive
rv6 = string8.startswith('ali', 21)
print(rv6)

False

In [66]:

rv6 = string8.startswith('in', 2, 11)  # character at ending index is not included
print(rv6)

False

### The `str.endsswith()` method
The `str.startswith()` method return True if str ends with the specified prefix, False otherwise.

In [67]:
s = "ali"
print(s.endswith("f"))
print(s.endswith("i"))

False
True

### The `str.split()` and `str.join()` method
- The `str.split()` method splits a string into a list of strings at every occurrence of space character by default. You may pass a parameter `sep='i'` to split method to split at that specific character instead.
- The `sep.join(list)` method is passed a list/iterable as parameter and is called on a separater character. It joins the strings inside the list to a single string and returns

In [68]:
str1="DS"
print(str1)
help(str1.split)

DS
Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [69]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
print(len(str1))
rv = str1.split()
print(rv)

51
['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

In [70]:
print(len(rv))
print(type(rv))

7
<class 'list'>

In [72]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
rv = str1.split(sep='i')

In [73]:
print(rv)
print(type(rv))

['Learn', 'ng Pract', 'cal Data Sc', 'ence w', 'th Eht', 'sham Sad', 'q']
<class 'list'>

In [74]:
str1="DS"
help(str1.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [75]:
mystr = "L e a r n i n g"
mystr.split(" ")

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [82]:
# The join() method takes all items in an iterable and joins them into one string.
mylist = ['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq']

#Note the separator is space character
mystr = ' '.join(mylist)

In [83]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'] <class 'list'>
Learning Practical Data Science with Ehtisham Sadiq <class 'str'>

In [88]:
# You can call join() method on a separator or your choice
mylist = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', str(21), str(18)]

#Note the separator is hash character
mystr = ' '.join(mylist)

In [89]:
print(mylist, type(mylist))
print(mystr, type(mystr))

['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen', 'Khubaib', '21', '18'] <class 'list'>
Ehtisham Ali Ayesha Dua Adeen Khubaib 21 18 <class 'str'>

In [90]:
mystr

'Ehtisham Ali Ayesha Dua Adeen Khubaib 21 18'

###  The `str.find()` method
- The `str.find()` method is used to find a substring from within a string, which returns the first index at which a substring occurs in a string. If no instance of the substring is found, the method returns -1.
```
str.find(substring, start, end)
```
where 
    - `substring` is what we are searching for,
    - `start` is the index from where we want to start searching (default value is 0)
    - `end` is the index where we want to stop our search (default value is len(str) -1)

In [91]:
str1 =  "LearningPracticalDataSciencewithEhtishamSadiq"
print(len(str1))
print(str1.find('Data'))
print(str1.find('And1'))

45
17
-1

In [92]:
print(str1.find('S',2)) # second argument starts searching from that index
print(str1.find('s',30)) # case sensitive

21
36

In [93]:
print(str1.find('S',0, 4)) # third argument stops searching uptill that index
print(str1.find('S',0, 5))

-1
-1

In [94]:
print(str1.find('S',21, 23))

21

### Use `str.replace()` method to find a substring
- The `str.replace()` method returns a string after replacing all occurrences of `substring_to_be_replaced` with `new_string`.
```
str.replace(substring_to_be_replaced, new_string, count = -1)
```
- Note that `replace` returns a new string, and the original string is not modified.

In [95]:
str1="DS"
help(str1.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [96]:
a = "hello"
print(a.replace("e","a"))
print(a)

hallo
hello

In [97]:
str1 =  "Learning Practical Data Science with Ehtisham Sadiq"
newstring = str1.replace('Data Science', 'Life')
print(str1)
print(newstring)

Learning Practical Data Science with Ehtisham Sadiq
Learning Practical Life with Ehtisham Sadiq

### The `str.format()` method

- The `str.format()` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. 
- You can use `str.format()` to construct output messages for display in the Python built-in `print()` function.
- You put placeholders `{}` within the format string of `print()` function, and the arguments to the `str.format()` method are the variable names
- The values of the variables are replaced with the arguments provided to the `str.format()` method.

In [98]:
age = 22
name = "Ehtisham Sadiq"

print("Mr. {}, you are {} years old." .format(name, age))

Mr. Ehtisham Sadiq, you are 22 years old.

In [100]:
name = "Ali Sadiq"
cost = 100
discount = .2
bill = cost - cost * discount

print("Mr. {2}, your total cost is {1}, percentage discount is {3}, and bill is {0}" 
      . format(bill, cost, name, discount))

Mr. Ali Sadiq, your total cost is 100, percentage discount is 0.2, and bill is 80.0

In [101]:
name="Ali Sadiq"
cost = 100
discount = .2
bill = cost - cost * discount

print(f"Mr. {name}, your total cost is {cost}, percentage discount is {discount}, and bill is {bill}" 
      . format(bill, cost, name, discount))

Mr. Ali Sadiq, your total cost is 100, percentage discount is 0.2, and bill is 80.0

In [102]:
name = "Ehtisham"
age = 22
print(f"My name is {name} and my age is {age}")

My name is Ehtisham and my age is 22

### Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. What are the container types available in Python?
2. What kind of data does the String data type represent?
3. What are the different ways of creating strings in Python?
4. What is the difference between strings created using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
5. How do you create multi-line strings in Python?
6. What is the newline character, `\n`?
8. How do you check the length of a string?
9. How do you convert a string into a list of characters?
10. How do you access a specific character from a string?
11. How do you access a range of characters from a string?
12. How do you check if a specific character occurs in a string?
13. How do you check if a smaller string occurs within a bigger string?
14. How do you join two or more strings?
15. What are "methods" in Python? How are they different from functions?
16. What do the `.count`, `.isalnum` and `.isalpha` methods on strings do?
17. How do you replace a specific part of a string with something else?
18. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?
19. How do you remove whitespace from the beginning and end of a string?
20. What is the string `.format` method used for? Can you give an example?
21. What are the benefits of using the `.format` method instead of string concatenation?
22. How do you convert a value of another type to a string?
23. How do you check if two strings have the same value?
24. Where can you find the list of all the methods supported by strings?

### Practice Question