<img src="images/pandas-intro.png">

# Learning Agenda of this Notebook:
- What is Pandas and how is it used in AI?
- Key features of Pandas
- Data Types in Pandas
- What does Pandas deal with?

- Creating Series in Pandas
    - From Python List
    - From NumPy Arrays
    - From Python Dictionary
    - From a scalar value
    - Creating empty series object
- Attributes of a Pandas Series
- Arithmetic Operations on Series

- Dataframes in Pandas
    - Anatomy of a Dataframe
    - Creating Dataframe
        - An empty dataframe
        - Two-Dimensional NumPy Array
        - Dictionary of Python Lists
        - Dictionary of Panda Series
    - Attributes of a Dataframe
    - Bonus
- Handling different formats of Data Files
- Data Handling with Pandas
  - Practice Exercise I
  - Practice Exercise II
- All Statistical functions in Pandas
- Input/Output Operations
- Aggregation & Grouping
  - Practice Exercise
- Merging, Joining and Concatenation
  - Practice Exercise
- How To Perform Data Visualization with Pandas
- Exercise I
- Exercise II
- Pandas's Assignment

## _IO with CSV EXCEL and JSON Files_

<img align="center" width="600" height="150"  src="images/fileformats.png" >

In [ ]:
# print() -> output
# # input() -> 

# C/C++
# cout -> ouput
# cin -> input

#### Read Pandas Documentation:
- General Info: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html


- For `read_csv`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html?highlight=read_csv#pandas.read_csv


- For `read_excel`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html?highlight=read_excel#pandas.read_excel


- For `read_json`:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.read_json.html?highlight=pandas%20read_json#pandas.io.json.read_json


- For `to_csv`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv



- For `to_excel`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html?highlight=to_excel#pandas.DataFrame.to_excel


- For `to_json`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html?highlight=to_json

[Pandas](https://pandas.pydata.org/) provides helper functions to read data from various file formats like CSV, EXCEL, JSON, HTML, SQL table, and many more.
1. Reading data from a CSV/TSV File
2. Reading a CSV file from a Remote System
3. Writing Contents of Dataframe to a CSV File
4. Reading data from an EXCEL File
5. Writing Contents of Dataframe to an EXCEL File
6. Reading data from a JSON File
7. Writing Contents of Dataframe to a JSON File
8. Reading and Writing with SQL file

## 1. Reading from CSV/TSV Files
>**CSV**: A text file in which the values are separated by a comma or a tab character is called a CSV or a TSV file. Each line of the file is a data record and each record consists of one or more fields, separated by a specific character called separator. A CSV/TSV file is typically used to store tabular data (numbers and text), in which each line will have the same number of fields.

###  Reading a  Simple CSV File
The `pd.read_csv()` method is used to read a comma-separated file into a DataFrame.
```
pd.read_csv(fname, delimiter=None, header='infer', skiprows=None , nrows=None , usecols=None,  footer='',...)

```

In [ ]:
!cat datasets/tips.csv

In [2]:
#The `read_csv`, by default assumes that the file contains comma separated values, 
# and the first row of the file conatins names of columns, which will be taken as column labels
import pandas as pd
df = pd.read_csv('datasets/tips.csv')
df

**The `df.head(N)` method is used to select/display first `N` rows, based on `position`, i.e., the integer value corresponding to the position of the row (from 0 to n-1). The default value of `N` is 5.**

In [ ]:
df.head()

In [ ]:
df.head(10)

**The `df.tail(N)` method is used to select/display last `N` rows, based on `position`, i.e., the integer value corresponding to the position of the row (from 0 to n-1). The default value of `N` is 5.**

In [ ]:
df.tail()

In [ ]:
df.tail(10)

**The `df.sample()` method returns a specified number of random rows. This method returns 1 row if a number is not specified.The column names will also be returned, in addition to the sample rows.**

In [ ]:
df.sample()

In [ ]:
df.sample(10)

### Reading a CSV File having a Delimiter, other than Comma
- By default, the `read_csv()` expect comma as seperator. But if the CSV file has some other seperator or delimiter like (semi-collon or tab), it will raise an error.
- To handler the issue we need to pass specific value to the `delimiter` argument of `read_csv()` method.

In [ ]:
!cat datasets/datawithdelimiter.csv

In [ ]:
df = pd.read_csv("datasets/datawithdelimiter.csv")
df

In [ ]:
df = pd.read_csv("datasets/datawithdelimiter.csv", delimiter=';')
df

### Reading a CSV File not having Column Labels
- By default the `read_csv()` method assume the first row of the file will contain column labels
- If this is not the case, i.e., the file do not contain column labels rather data, it will be dealt as column label

In [ ]:
! cat datasets/classmarkswithoutcollabels.csv

In [ ]:
df = pd.read_csv("datasets/classmarkswithoutcollabels.csv")
df.head()

**To read such files, you have to pass the parameter `header=None` to the `read_csv()` method as shown below**

In [ ]:
df = pd.read_csv("datasets/classmarkswithoutcollabels.csv", header=None)
df.head()

**Now if you want to assign new column labels to make them more understandable, you can assign the list of column labels to the `columns` attribute of the dataframe object**

In [ ]:
df.columns = ['Roll No','Gender','Group', 'Math','Eng','Comp','Bio']

In [ ]:
df.head()

### Reading a CSV File having Comments in the beginning
- You may get an error while reading a CSV file because someone may have added few comments on the top of the file. In pandas we can still read the data set by skipping few rows from the top.
- To deal with the ParseError, open the csv file in the text editor and check if you have some comments on the top.
- If yes, then count the number of rows to skip.
- While reading file, pass the parameter **skiprows = n** (number of rows in the beginninghaving comments to skip)
- While reading file, pass the parameter **skipfooter = n** (number of rows at the end having comments to skip)

In [ ]:
# Try reading a csv file having 3 comments lines in the beginning.
!cat datasets/classmarkswithtopcomments.csv

In [ ]:
# Try reading a csv file having 3 comments lines in the beginning.
df = pd.read_csv("datasets/classmarkswithtopcomments.csv")
df

In [ ]:
# Try reading a csv file having 3 comments lines in the beginning.
df = pd.read_csv("datasets/classmarkswithtopcomments.csv", skiprows=3)
df.head()

### Reading a portion of CSV File in a Dataframe
- Suppose the dataset inside the csv file is too big and you don't want to spend that much time for reading that data
- Or might be your system crashes, when you try to load that much data
- Solution is read
    - Specific number of rows by passing `nrows` parameter to `read_csv()` method
    - Specific number of columns by passing `usecols` parameter to `read_csv()` method

In [ ]:
# Read just 10 rows from the csv file by passing the number of rows to read to `nrows` argument
df = pd.read_csv('datasets/classmarks.csv')
df.shape

In [ ]:
df.head()

In [ ]:
pd.read_csv('datasets/classmarks.csv', nrows=5, usecols=['rollno','gender','group','age'])

##  Reading a CSV File from a Remote System

In [ ]:
# To avoid URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED]..... 
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

### a. Reading a CSV file from GitHub Gist

The `churn_dataset.csv` file actually resides on my GitHub Gist at following URL:

https://raw.githubusercontent.com/ehtisham-sadiq/NoSQL-with-MongoDB/main/datasets/churn_dataset.csv

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/ehtisham-sadiq/NoSQL-with-MongoDB/main/datasets/churn_dataset.csv"
df = pd.read_csv(url)

In [ ]:
df.head()

In [ ]:
df.shape

### Tasks
-  Reading a CSV file from a Google Docs

##  Writing Contents of Dataframe to a CSV File
- The `pd.to_csv()` method is used to write the contents of a dataframe (with indices) to a CSV file.
- The only required argument is the file path.

In [ ]:
df_class = pd.read_csv('datasets/classmarks.csv')
df_class.head(7)

>- Let us create a new dataframe from above dataframe containing records of only group B

In [ ]:
# (df_class['group'] == 'group B')

In [ ]:
mask = (df_class['group'] == 'group B')
mask.head(7)

In [ ]:
df_class_groupB = df_class.loc[mask]
df_class_groupB

In [ ]:
df_class_groupB.to_csv('datasets/classmarksgroupB.csv')

In [ ]:
df = pd.read_csv('datasets/classmarksgroupB.csv')
df

In [ ]:
df_class_groupB.to_csv('datasets/classmarksgroupB.csv', index=False)

In [ ]:
df = pd.read_csv('datasets/classmarksgroupB.csv')
df

## I/O with EXCEL Files
>**XLSX**: XLSX is a Microsoft Excel Open XML file format. It also comes under the Spreadsheet file format. It is an XML-based file format created by Microsoft Excel. In XLSX data is organized under the cells and columns in a sheet. Each XLSX file may contain one or more sheets. So a workbook can contain multiple sheets

In [ ]:
import sys
!{sys.executable} -m pip install xlrd xlwt openpyxl

In [ ]:
df = pd.read_excel(io='datasets/classmarks.xlsx')
df.head()

### Reading Excel Workbook with Multiple Sheets
- By default `pd.read_excel()` function read only the first sheet.
- What if we want to read an Excel file having multiple sheets.
- The `big_mart_sales_with_multiple_sheets.xlsx` is a workbook that contains three sheets for different years data. The sheet names are 1985, 1987, and 1997

In [ ]:
df = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx')
# if you check/view the data you can see, it only contains the data of first excel sheet (for the year 1985)
df.shape

In [ ]:
df.head()

In [ ]:
df_1985 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1985')
df_1987 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1987')
df_1997 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1997')

In [ ]:
df_1985.shape

In [ ]:
df_1987.shape

In [ ]:
df_1997.shape

###  Writing Contents of Dataframe to an EXCEL File
- The `pd.to_excel()` method is used to write the contents of a dataframe (with indices) to an Excel file.
- The only required argument is the file path.


>- Let us create a new single dataframe after concatenating all the above three dataframes using `pd.concat()` method

In [ ]:
df_concatenated = pd.concat(objs=[df_1985, df_1987, df_1997])

df_concatenated.shape

**Note the total number of rows in this dataframe equals to `1463+932+930 = 3325`**

In [ ]:
# you can store the concatenated data inside your dataframe into a single Excel file
# You can mention the argument `index= false` for not storing row indices (0, 1,2,3,... in the Excel file.

df_concatenated.to_excel(excel_writer='datasets/temp.xlsx', index=False)

In [ ]:
# Let us verify
data = pd.read_excel(io='datasets/temp.xlsx')

data.shape

In [ ]:
data.head()

##  I/O with JSON Files

>**JSON**: JavaScript Object Notation is a text-based open standard file format that uses human-readable text consisting of attribute–value pairs and arrays. It is a data interchange format that is used to store and transfer the data via Internet, primarily between a web client and a server.

#### To view content of any json file , visit this [website](http://jsonviewer.stack.hu/)

In [ ]:
import sys
!{sys.executable} -m pip install SQLAlchemy psycopg2-binary

In [4]:
!cat datasets/simple.json

[{"name": "Kamal", "age": 12, "grade": "A"}, {"name": "Hashim", "age": 18, "grade": "B"}, {"name": "Salman", "age": 11, "grade": "A"}, {"name": "Mazhar", "age": 12, "grade": "C"}, {"name": "Eisha", "age": 13, "grade": "B"}, {"name": "Farhan", "age": 22, "grade": "C"}, {"name": "Mohsin", "age": 11, "grade": "A"}, {"name": "Bilal", "age": 19, "grade": "A"}, {"name": "Ishaan", "age": 10, "grade": "D"}, {"name": "Zalaid", "age": 9, "grade": "B"}]

In [5]:
# read the json file using read_json method of pandas library
df = pd.read_json('datasets/simple.json')
df

     name  age grade
0   Kamal   12     A
1  Hashim   18     B
2  Salman   11     A
3  Mazhar   12     C
4   Eisha   13     B
5  Farhan   22     C
6  Mohsin   11     A
7   Bilal   19     A
8  Ishaan   10     D
9  Zalaid    9     B

###  Reading JSON File having each record in a separate line
- Some of the json files are written as records i.e each json line is a separate json object. For example:
```
{ 'name' : 'Ahsan', 'roll_no' : '100' } # line 1
{ 'name' : 'Ayesha' , 'roll_no' : '101' } # line 2
```

In [6]:
! cat datasets/simple_records.json

{"name": "Kamal", "age": 12, "grade": "A"}
{"name": "Hashim", "age": 18, "grade": "B"}
{"name": "Salman", "age": 11, "grade": "A"}
{"name": "Mazhar", "age": 12, "grade": "C"}
{"name": "Eisha", "age": 13, "grade": "B"}
{"name": "Farhan", "age": 22, "grade": "C"}
{"name": "Mohsin", "age": 11, "grade": "A"}
{"name": "Bilal", "age": 19, "grade": "A"}
{"name": "Ishaan", "age": 10, "grade": "D"}
{"name": "Zalaid", "age": 9, "grade": "B"}

In [8]:
# To read such file you need to pass `lines=True` to the `read_json()` method of dataframe
df = pd.read_json('datasets/simple_records.json', lines=True)
df

     name  age grade
0   Kamal   12     A
1  Hashim   18     B
2  Salman   11     A
3  Mazhar   12     C
4   Eisha   13     B
5  Farhan   22     C
6  Mohsin   11     A
7   Bilal   19     A
8  Ishaan   10     D
9  Zalaid    9     B

##  Writing Contents of Dataframe to a JSON File

In [9]:
df.to_json('datasets/temp.json')

In [10]:
!cat datasets/temp.json

{"name":{"0":"Kamal","1":"Hashim","2":"Salman","3":"Mazhar","4":"Eisha","5":"Farhan","6":"Mohsin","7":"Bilal","8":"Ishaan","9":"Zalaid"},"age":{"0":12,"1":18,"2":11,"3":12,"4":13,"5":22,"6":11,"7":19,"8":10,"9":9},"grade":{"0":"A","1":"B","2":"A","3":"C","4":"B","5":"C","6":"A","7":"A","8":"D","9":"B"}}

In [11]:
df = pd.read_json('datasets/temp.json')
df

     name  age grade
0   Kamal   12     A
1  Hashim   18     B
2  Salman   11     A
3  Mazhar   12     C
4   Eisha   13     B
5  Farhan   22     C
6  Mohsin   11     A
7   Bilal   19     A
8  Ishaan   10     D
9  Zalaid    9     B

##  Reading and writing with SQL file

In [12]:
# First of all we install mysql.connector on our machine
!pip3 install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql.connector in /home/dell/.local/lib/python3.8/site-packages (2.2.9)

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [13]:
# Second, we import mysql.connector to create connection object
import warnings
warnings.filterwarnings('ignore')
import mysql.connector

In [22]:
# Third we create our connection object
conn = mysql.connector.connect(host='localhost',user='root',password='Pucit12345#',database='ranking')

In [23]:
conn.is_connected()

True

In [24]:
# We will execute our query
df = pd.read_sql_query("SELECT * FROM DataTable",conn)

In [25]:
df.head()

,Rank,institution,location code,location,SCORE,ar rank,er score,fsr score,fsr rank,cpf score,cpf rank,ifr score,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,score scaled
0,1,Massachusetts Institute of Technology (MIT),US,United States,100,5,100,100,14,100,5,100.0,54,90,109,96.1,58,100,3,100
1,2,University of Cambridge,UK,United Kingdom,100,2,100,100,11,92,55,100.0,60,96,70,99.5,6,100,9,98
2,3,Stanford University,US,United States,100,4,100,100,6,99,9,99.0,74,60,235,96.3,55,100,2,98
3,4,University of Oxford,UK,United Kingdom,100,3,100,100,8,90,64,98.0,101,98,54,99.9,3,100,7,98
4,5,Harvard University,US,United States,100,1,100,99,35,100,2,76.0,228,66,212,100.0,1,100,1,97

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)