In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('train_and_test2.csv')
df = df[['Age','Fare','Sex','sibsp','Embarked','2urvived']]

In [17]:
df.head()

    Age     Fare  Sex  sibsp  Embarked  2urvived
0  22.0   7.2500    0      1       2.0         0
1  38.0  71.2833    1      1       0.0         1
2  26.0   7.9250    1      0       2.0         1
3  35.0  53.1000    1      1       2.0         1
4  35.0   8.0500    0      0       2.0         0

In [28]:
df.isnull().sum()
df['Age'].value_counts()

28.0    295
24.0     47
22.0     43
21.0     41
30.0     40
       ...
23.5      1
70.5      1
55.5      1
20.5      1
38.5      1
Name: Age, Length: 98, dtype: int64

In [21]:
df.shape

(1309, 6)

In [24]:
import random as r
import numpy as np
for i in range(10):
    df.iloc[r.randint(0,df.shape[0])][0]= np.nan
import random as r
for i in range(10):
    df.iloc[r.randint(0,df.shape[0]-1)][1]= np.nan

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11332\1285361522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[r.randint(0,df.shape[0])][0]= np.nan
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_11332\1285361522.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[r.randint(0,df.shape[0]-1)][1]= np.nan

In [30]:
df[df['Age']==np.nan].dropna()

Empty DataFrame
Columns: [Age, Fare, Sex, sibsp, Embarked, 2urvived]
Index: []

In [7]:

new_df['training_hours'].hist(bins=50, ax=ax, color='green', density=True, alpha=0.8)

NameError: name 'new_df' is not defined